* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
}

a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 100%;
	min-width: 500px;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 75px;
	margin-top: 10px;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
	/*background: #B5E3FF;*/
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: 250px;
	margin-left: -250px;
	position: relative;
	/*background: #FFACAA;*/
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	height: 100px;
	margin-top: 10px;
	font-size: x-small;
	/*background: #BFF08E;*/
}

/* Customizations 
---------------------------------------------------------------------------*/

#boggle {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#game_table_data {
	border: 2px solid black;
	background-color: #111111;
	border-radius: 5px;
}

.game_table_data_row, .game_table_data_cell {
	width: 50px;
	height: 50px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: xx-large;
	font-style: bold;
	text-align: center;
	border: 2px solid black;
	background-color: #FEFEF2;
	border-radius: 10px;
	padding: 0;
	margin: 2px;
}

#gamedatadiv {
	font-size: 12px;
	padding: 10px;
	display: table;
}
#gamedatatextdiv {
	padding-right: 5px;
	display: table-cell;
	width: 127px;
}

#gamedatabuttondiv {
	display: table-cell;
	width: 125px;
}

#worddiv {
	display: table;
}

#wordtextdiv {
	font-size: 12px;
	display: table-cell;
	width: 102px;
	text-align: left;
	padding-right: 5px;
}

#wordtextentrydiv {
	display: table-cell;
	width: 125px;
	padding-right: 5px;
}


#submit {
	-webkit-appearance: push-button;
	-webkit-border-image: none;
	-webkit-box-align: center;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	font-size: 14px;
	position: absolute;
	bottom: 0;
	display: table-cell;
	float: right;
}
.answer {
	color: #FF0000;
}

.dijitValidationIcon { display:none !important; }