<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Boggle!</title>
	<meta name="keywords" content="boggle" />
	<meta name="description" content="a boggle game on the web!" />
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen, projection"/>
	<!--[if lte IE 6]><link rel="stylesheet" href="/stylesheets/style_ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.8.1/dojo/dojo.js" 
	data-dojo-config="has:{'dojo-firebug': true}, parseOnLoad: true, async: true"></script>
	<script src="/scripts/boggle.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header" align="center">
			<h1>Welcome to Boggle!</h1>
		</div>
		<div id="middle">
			<div id="container">
				<div id="content" align="center">
					<form id="boggle">
						<div id="game_table"></div>
						<div id="gamedatadiv">
							<div id="gamedatatextdiv">
								<input data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="intermediateChanges:true, uppercase:true" 
								id="gamedata" value="" maxlength="16" name="gamedata">
							</div>
							<div id="gamedatabuttondiv">
								<input type="button" id="gamedatabutton" value="Create Random Game" onClick="randomString('gamedata');">
							</div>
						</div>
						<div id="worddiv">
							<div id="wordtextdiv">
								Search for Word:
							</div>
							<div id="gamedatabuttondiv">
								<input data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="intermediateChanges:true, uppercase:true" 
								id="word" value="" maxlength="16" name="word">
							</div>
							<div id="searchbuttondiv">
								<button type="submit" id="submit" class="submit">Search!</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="footer" align="center"></div>
	</div>
</body>
</html>